.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;

  &__left {
    flex-direction: column;
    display: flex;
    gap: 20px;

    @media (min-width: $tablet) {
      flex-direction: row;
      display: flex;
      gap: 100px;
    }
  }

  &__wraper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    flex-direction: column;

    @media (min-width: $desktop) {
      flex-direction: row;
      width: 1200px;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &__newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    max-width: 450px;
    width: 100%;

    @media (min-width: $desktop) {
      margin-top: 0;
      max-width: 550px;
      align-items: flex-start;
    }
  }

  &__join {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $desktop) {
      align-items: flex-start;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: normal;
    list-style: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding: 0;

    @media (min-width: $desktop) {
      align-items: flex-start;
    }
  }

  &__address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--third-color);
  }

  &__header {
    color: var(--third-color);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
  }

  &__social {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    padding: 0;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    fill: white;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--main-color);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    width: 100%;

    @media (min-width: $desktop) {
      flex-direction: row;
      align-items: end;
      margin-top: 0;
    }
  }

  &__fieldset {
    position: relative;
    align-items: center;
    padding-block: 14px 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 100%;
    max-width: 300px;

    @media (min-width: $mobile) {
      max-width: 400px;
    }
  }

  &__input {
    border: 0;
    background-color: transparent;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 15px;

    &:focus {
      outline: 0;
    }
  }
}
