.offer {
  margin: 0 auto;

  &__wraper {
    display: flex;
    justify-content: center;
    margin-bottom: 94px;
    margin-top: 94px;
  }

  &__header {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color);
    margin-bottom: 10px;
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 0;
  }

  &__box {
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    border-radius: 4px;
    align-items: center;
  }

  &__list {
    width: 100%;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    padding: 0 15px;
    margin-inline: auto;

    @media (min-width: $mobile) {
      max-width: 450px;
      padding: 0;
    }

    @media (min-width: $tablet) {
      max-width: 738px;
    }

    @media (min-width: $desktop) {
      max-width: 1200px;
    }
  }

  &__item {
    width: 100%;

    @media (min-width: $mobile) {
      max-width: 450px;
    }

    @media (min-width: $tablet) {
      max-width: 354px;
    }

    @media (min-width: $desktop) {
      max-width: 270px;
    }
  }
}
